.sidenav{
    background-color: var(--bgAccent);
    width: 200px;
}

.sidenav a{
    color: var(--textBlack);
}

.sidenav i{
    padding-right: 10px;
}

.content{
    padding: 16px;
    color: var(--textWhite);
    /* background-color: var(--bgDark); */
}