.sidenav{
    background-color: var(--bgAccent);
    width: 200px;
}

.sidenav a{
    color: var(--textBlack);
}

.sidenav i{
    padding-right: 10px;
}

.content{
    padding: 0 16px 16px 16px;
    margin: 16px 0 0 0;
    color: var(--textWhite);
    max-height: 78vh;
    display: block;
    /* background-color: var(--bgDark); */
}