<mat-sidenav-container class="container">
    <mat-sidenav class="sidenav" mode="side" opened fixedInViewport="true" fixedTopGap="64">
        <mat-nav-list class="nav-list">
            <a mat-list-item routerLink="/"><i class="material-icons">home</i>Início</a>
            <a mat-list-item routerLink="/products"><i class="material-icons">storefront</i>Produtos</a>
        </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content class="content">
        <router-outlet></router-outlet>
        <div style="padding: 2rem; margin: 0">
            <h3 style="padding: 0; margin: 0">Pontos a melhorar:</h3>
            <ul style="padding: 0 0 0 30px; margin: 0">
                <li>Corrigir valores que não estão sendo trazidos com 2 digitos nas casas decimais no update dos produtos;</li>
                <li>Realizar implementação do env conforme este site <a href="https://www.jvandemo.com/how-to-use-environment-variables-to-configure-your-angular-application-without-a-rebuild/#step2loadingtheenvironmentinangular" target="blank">aqui</a>;</li>
            </ul>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>