/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; background-color: var(--bgPrimary); color: var(--textWhite);}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
html{
    --primary: #949494;
    --accent: #fff2a7;
    --warn: #ff9999;
    --success: #ccff99;
    
    --textBlack: #242424;
    --textWhite: #f5f5f5;
    --textAccent: #fff2a7;

    --bgPrimary: #303030;
    --bgAccent: #fff2a7;
}

a{
    color: var(--accent);
    text-decoration:none;
    font-weight: 500;
}

.warn{
    color: var(--warn);
}

.accent{
    color: var(--accent);
}

.v-middle{
    vertical-align: middle;
}

button.primary{
    background-color: var(--primary);
    color: var(--textWhite);
}
button.accent{
    background-color: var(--accent);
    color: var(--textBlack);
}
button.warn{
    background-color: var(--warn);
    color: var(--textWhite);
}

.msg-success{
    background-color: var(--success);
    color: var(--textBlack);
}

.msg-error{
    background-color: var(--warn);
    color: var(--textWhite);
}